* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --disabled: #e5e5e5;

    --primary: #db674b;
    --primary-hover: #cb5c39;
    --primary-active: #b24f2e;
    --primary-border: #b24f2e;

    --secondary: #111110;
    --secondary-hover: #191918;
    --secondary-active: #1f1f1e;

    --tertiary: #191918;
    --tetratiary-hover: #292928;

    --background-dark: #191918;
    --background-dark-hover: #292928;
    --background-light: #212225;
    --background-light-hover: #2a2d31;
    --background-lighter: #2a2d31;
    --background-lighter-hover: #2f3236;
    --background-lightest: #2f3236;
    --background-lightest-hover: #34373b;

    --border-light: #494844;

    --text-hover: #b5b3ad;
    --text-light: #f6f4f3;
    --text-light-2: #e5e5e5;
    --text-light-3: #b5b3ad;
    --text-light-4: #8f8d87;
    --text-light-5: #494844;

    --text-dark: #b5b3ad;
    --text-darker: #8f8d87;
    --text-darkest: #494844;

    --alert: #e63946;
    --alert-hover: #c52b38;
    --alert-active: #a5232f;
    --alert-text: #f1faee;
    --alert-text-darker: #e6f1ed;
    --alert-text-darkest: #dcebea;

    --success: #2a9d8f;
    --success-hover: #1d7a6f;
    --success-active: #16615c;
    --success-text: #f1faee;
    --success-text-darker: #e6f1ed;
    --success-text-darkest: #dcebea;

    --warning: #fdeeb8;
    --warning-hover: #fddc92;
    --warning-active: #fdca6c;
    --warning-text: #000000;
    --warning-text-darker: #000000;
    --warning-text-darkest: #000000;

    --info: #457b9d;
    --info-hover: #36607a;
    --info-active: #2a4e63;
    --info-text: #f1faee;
    --info-text-darker: #e6f1ed;
    --info-text-darkest: #dcebea;

    --input-background: #2a2d31;
    --input-border: #494844;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-lighter);
    color: var(--text-light);
}
