.header {
    background-color: var(--background-dark);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.logoLink {
    text-decoration: none;
}

.logo {
    color: var(--primary);
}

.logo:hover {
    color: var(--primary-hover);
}
