.group {
    display: flex;
    flex-direction: column;

    align-self: flex-end;
    align-items: flex-end;
}

.groupedMessages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.groupIncoming {
    align-self: flex-start;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-wrap: wrap;

    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #f4f4f4;

    font-family: "Open Sans" !important;
    font-size: 0.9rem;
    padding-left: 16px;
    padding-right: 16px;
    word-wrap: break-word;

    align-self: flex-start;
}

.incoming {
    background-color: #e9e9eb;
    color: #242424;
}

.outgoing {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
}

.firstInGroup.incoming {
    border-top-left-radius: 4px;
}

.firstInGroup.outgoing {
    border-top-right-radius: 4px;
}

.withOnlyEmoji {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;

    border-radius: 0;

    padding: 0;
}

.author {
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 10px;

    color: var(--text-dark);

    align-self: flex-end;
}

.authorIncoming {
    align-self: flex-start;
}

.onlyEmoji {
    font-size: 3rem;
}
